body{
    background-color: #091824;
    z-index: -1;
}

.customText_w{
    font-family: 'Maven Pro', 'Trebuchet MS', Tahoma, Arial;
    text-align: center;
    word-wrap: break-word;
    font-size: 3vh;
    color: white;
}

.customText_w_big{
    font-family: 'Maven Pro', 'Trebuchet MS', Tahoma, Arial;
    text-align: center;
    word-wrap: break-word;
    font-size: 3.5vh;
    color: white;
}

.customText_b{
    font-family: 'Maven Pro', 'Trebuchet MS', Tahoma, Arial;
    text-align: center;
    word-wrap: break-word;
    font-size: 3vh;
    color: black;
}

.Margin_1{
    position: absolute;
    left: 1vh;
    right: 1vh;
    top: 1vh;
    bottom: 1vh;
}

.Margin_2{
    position: absolute;
    left: 2vh;
    right: 2vh;
    top: 2vh;
    bottom: 2vh;
}

.Margin_3{
    position: absolute;
    left: 3vh;
    right: 3vh;
    top: 3vh;
    bottom: 3vh;
}

.std_BTN{
    background-image: linear-gradient(#506371, #374855);
} 

.dark_BTN{
    background-image: linear-gradient(#142533, #091824); 
}